{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="wrapper">
        <section class="section">
            <div class="container">
                <div class="card shadow mt-300">
                    <div class="px-4">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li style="color: white" {% if message.tags %}
                                        class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="text-center mt-5">
                            <h3>{% trans 'The Clothes' %}</h3>
                        </div>
                        <div class="mt-5 py-5 border-top text-center">
                            <div class="row justify-content-center">
                                <div class="col-lg-9">
                                    <form data-toggle="validator" method="post" enctype="multipart/form-data">
                                        <fieldset>
                                            {% csrf_token %}
                                            <div class="row justify-content-center">
                                                <div class="col-xs-12 col-md-3">
                                                    {{ form.grooms_mom_dress_color|as_crispy_field }}
                                                </div>
                                                <div class="col-xs-12 col-md-3">
                                                    {{ form.brides_mom_dress_color|as_crispy_field }}
                                                </div>
                                                <div class="col-xs-12 col-md-3">
                                                    {{ form.kids_dress_color|as_crispy_field }}
                                                </div>
                                                <div class="col-xs-12 col-md-3">
                                                    {{ form.ring_bearer_costume_color|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-xs-12 col-md-6">
                                                    {% if brides_dress %}
                                                    <img src={{ brides_dress.url }} alt="brides_dress">
                                                    {% else %}
                                                    {{ form.brides_dress|as_crispy_field }}
                                                    {% endif %}
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    {% if brides_shoes %}
                                                    <img src={{ brides_shoes.url }} alt="brides_shoes">
                                                    {% else %}
                                                    {{ form.brides_shoes|as_crispy_field }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-xs-12 col-md-6">
                                                    {% if brides_hairstyle %}
                                                    <img src={{ brides_hairstyle.url }} alt="brides_hairstyle">
                                                    {% else %}
                                                    {{ form.brides_hairstyle|as_crispy_field }}
                                                    {% endif %}
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    {% if brides_hair_accessories %}
                                                    <img src={{ brides_hair_accessories.url }} alt="brides_hair_accessories">
                                                    {% else %}
                                                    {{ form.brides_hair_accessories|as_crispy_field }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-xs-12 col-md-6">
                                                    {% if brides_makeup %}
                                                    <img src={{ brides_makeup.url }} alt="brides_makeup">
                                                    {% else %}
                                                    {{ form.brides_makeup|as_crispy_field }}
                                                    {% endif %}
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    {% if brides_body_accessories %}
                                                    <img src={{ brides_body_accessories.url }} alt="brides_body_accessories">
                                                    {% else %}
                                                    {{ form.brides_body_accessories|as_crispy_field }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    {% if brides_lingerie %}
                                                    <img src={{ brides_lingerie.url }} alt="brides_lingerie">
                                                    {% else %}
                                                    {{ form.brides_lingerie|as_crispy_field }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-xs-12 col-md-6">
                                                    {% if grooms_suit %}
                                                    <img src={{ grooms_suit.url }} alt="grooms_suit">
                                                    {% else %}
                                                    {{ form.grooms_suit|as_crispy_field }}
                                                    {% endif %}
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    {% if grooms_shoes %}
                                                    <img src={{ grooms_shoes.url }} alt="grooms_shoes">
                                                    {% else %}
                                                    {{ form.grooms_shoes|as_crispy_field }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row justify-content-center mt-4">
                                                <button class="btn btn-success" type="submit"
                                                        style="background-color: deeppink; border-color:hotpink">{% trans 'Save Changes' %}</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block extra_scripts %}

{% endblock %}