{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="wrapper">
        <section class="section">
            <div class="container">
                <div class="card shadow mt-300">
                    <div class="px-4">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li style="color: white" {% if message.tags %}
                                        class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="text-center mt-5">
                            {% if edit %}
                                <h3>{% trans 'View Provider' %}</h3>
                            {% else %}
                                <h3>{% trans 'Add Provider' %}</h3>
                            {% endif %}
                        </div>
                        <div class="mt-5 py-5 border-top text-center">
                            <div class="row justify-content-center">
                                <div class="col-lg-9">
                                    <form data-toggle="validator" method="post">
                                        {{ form.non_field_errors }}
                                        <fieldset>
                                            {% csrf_token %}
                                            <div class="row justify-content-center">
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="row">
                                                        {{ form.category|as_crispy_field }}
                                                        <a id="addCategory" class="btn btn-primary bella-pink"
                                                           style="height: 50%; margin-top: 30px;"
                                                           data-toggle="modal" data-target="#addCategoryModal"><i
                                                                class="fa fa-plus"
                                                                style="color: white"></i></a>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-5">
                                                    {{ form.name|as_crispy_field }}
                                                </div>
                                                <div class="col-xs-12 col-md-4">
                                                    {{ form.card|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-xs-12 col-md-4" style="padding: inherit">
                                                    {{ form.website|as_crispy_field }}
                                                </div>
                                                <div class="col-xs-12 col-md-4">
                                                    {{ form.phone|as_crispy_field }}
                                                </div>
                                                <div class="col-xs-12 col-md-4" style="padding: inherit">
                                                    {{ form.price|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-xs-12 col-md-8">
                                                    {{ form.notes|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-xs-12 col-md-4 justify-content-center">
                                                    {{ form.favorite|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-xs-12 col-md-4">
                                                    <button class="btn btn-success" type="submit"
                                                            style="background-color: deeppink; border-color:hotpink">
                                                        {% if edit %}
                                                            {% trans 'Save' %}
                                                        {% else %}
                                                            {% trans 'Add' %}
                                                        {% endif %}
                                                    </button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                    <!-- Modal -->
                                    <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog"
                                         aria-labelledby="add-category-modal" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title"
                                                        id="edit-guest-modal">{% trans 'Add Category' %}</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form>
                                                        {% csrf_token %}
                                                        <div class="form-group row">
                                                            <label for="categoryName"
                                                                   class="col-sm-3 col-form-label">{% trans 'Name' %}:</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control"
                                                                       id="categoryName">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">{% trans 'Close' %}
                                                    </button>
                                                    <button type="button" id="saveCategory"
                                                            class="btn btn-info bella-pink">{% trans 'Save' %}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><hr>
                            <div class="row justify-content-end">
                                <a href="{% url 'ceremony:ceremony-provider-list' %}"
                                   class="btn btn-primary bella-pink">{% trans 'View all providers' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block extra_scripts %}
    <script>
        $(document).ready(function () {
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            $('#addCategory').click(function (e) {
                e.preventDefault();
                $('#addCategoryModal').modal();
            });
            $('#saveCategory').click(function (e) {
                e.preventDefault();
                $.ajax({
                    headers: {'X-CSRFToken': csrftoken},
                    url: "{% url 'ceremony:ceremony-category-create' %}",
                    method: 'POST',
                    data: {
                        'name': $('#categoryName').val()
                    },
                    dataType: 'json'
                }).done(function (data) {
                    location.reload();
                }).fail(function () {
                    console.log('deu bad');
                });
            });
        });
    </script>
{% endblock %}