{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="wrapper">
        <section class="section">
            <div class="container">
                <div class="card shadow mt-300">
                    <div class="px-4">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li style="color: white" {% if message.tags %}
                                        class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="text-center mt-5">
                            {% if edit %}
                                <h3>{% trans 'View Budget' %}</h3>
                            {% else %}
                                <h3>{% trans 'Add Budget' %}</h3>
                            {% endif %}
                        </div>
                        <div class="mt-5 py-5 border-top text-center">
                            <div class="row justify-content-center">
                                <div class="col-lg-9">
                                    <form data-toggle="validator" method="post" enctype="multipart/form-data">
                                        {{ form.non_field_errors }}
                                        <fieldset>
                                            {% csrf_token %}
                                            <div class="row justify-content-center">
                                                <div class="col-xs-12 col-md-3">
                                                    {{ form.hotel_name|as_crispy_field }}
                                                </div>
                                                <div class="col-xs-12 col-md-5">
                                                    {{ form.hotel_price|as_crispy_field }}
                                                </div>
                                                <div class="col-xs-12 col-md-4">
                                                    {{ form.tickets_price|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-xs-12 col-md-3">
                                                    {{ form.leave_date|as_crispy_field }}
                                                </div>
                                                <div class="col-xs-12 col-md-5">
                                                    {{ form.arrival_date|as_crispy_field }}
                                                </div>
                                                <div class="col-xs-12 col-md-4">
                                                    {{ form.tour_company|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-xs-12 col-md-4">
                                                    <button class="btn btn-success" type="submit"
                                                            style="background-color: deeppink; border-color:hotpink">
                                                        {% if edit %}
                                                            {% trans 'Save' %}
                                                        {% else %}
                                                            {% trans 'Add' %}
                                                        {% endif %}
                                                    </button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div><hr>
                            <div class="row justify-content-end">
                                <a href="{% url 'honeymoon:budget-list' %}"
                                   class="btn btn-primary bella-pink">{% trans 'View all budgets' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}