{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <section class="section">
            <div class="container">
                <div class="card shadow mt-300">
                    <div class="px-4">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li style="color: white" {% if message.tags %}
                                        class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="text-center mt-5">
                            <h3>{% trans 'Guests List' %}</h3>
                        </div>
                        <div class="mt-5 py-5 border-top text-center">
                            <div class="row justify-content-center">
                                <div class="col-lg-9">
                                    <table id="myGuests" class="dataTable table table-striped nowrap"
                                           style="width:100%">
                                        <thead>
                                        <tr class="text-center">
                                            <th>{% trans 'Name' %}</th>
                                            <th>{% trans 'Group' %}</th>
                                            <th>{% trans 'Indispensability' %}</th>
                                            <th>{% trans 'Edit' %}</th>
                                            <th>{% trans 'Delete' %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for guest in guests %}
                                            <tr class="text-center">
                                                <td>{{ guest.name }}</td>
                                                <td>{{ guest.get_group_display }}</td>
                                                <td>{{ guest.indispensability }}</td>
                                                <td>
                                                    <button type="button" class="btn btn-info bella-pink"
                                                            id="guest-edit-{{ guest.id }}"><i
                                                            class="fa fa-pencil table-button"></i></button>
                                                </td>
                                                <td><a href="#" id="guest-delete-{{ guest.id }}"
                                                       class="btn btn-info bella-pink"><i
                                                        class="fa fa-times table-button"></i> </a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="editGuestModal" tabindex="-1" role="dialog"
                                 aria-labelledby="edit-guest-modal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="edit-guest-modal">{% trans 'Edit Guest' %}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                {% csrf_token %}
                                                <div class="form-group row">
                                                    <input type="hidden" id="guestId">
                                                    <label for="guestName"
                                                           class="col-sm-3 col-form-label">{% trans 'Name' %}:</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="guestName">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="guestGroup"
                                                           class="col-sm-3 col-form-label">{% trans 'Group' %}:</label>
                                                    <div class="col-sm-9">
                                                        <select id="guestGroup" class="form-control">
                                                            <option selected>{% trans 'Choose' %}...</option>
                                                            {% for group in guest_groups %}
                                                                <option value="{{ group.0 }}">{{ group.1 }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="guestIndispensability"
                                                           class="col-sm-3 col-form-label">{% trans 'Indispensability' %}:</label>
                                                    <div class="col-sm-9">
                                                        <select id="guestIndispensability" class="form-control">
                                                            <option selected>{% trans 'Choose' %}...</option>
                                                            {% with ''|center:11 as range %}
                                                                {% for _ in range %}
                                                                    <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                                                                {% endfor %}
                                                            {% endwith %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">{% trans 'Close' %}
                                            </button>
                                            <button type="button" id="saveGuestChanges"
                                                    class="btn btn-info bella-pink">{% trans 'Save changes' %}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <strong>{% trans 'Current number of guests: ' %}{{ guests|length }}</strong>
                                </div>
                                <div class="col-xs-6 col-md-6 justify-content-end">
                                    <a href="{% url 'ceremony:ceremony-guest-create' %}" class="btn btn-success"
                                       style="background-color: deeppink; border-color:hotpink"> {% trans 'Add Guest' %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            $('#myGuests').DataTable({
                "order": [[2, 'desc']],
                paging: false,
                info: false,
                responsive: true,
                "scrollX": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json"
                },
            });
            $('*[id*=guest-edit-]').each(function () {
                $(this).click(function (e) {
                    e.preventDefault();
                    let elem_id = $(this).attr('id');
                    let ar = elem_id.split('-');
                    let guest_id = ar[ar.length - 1];

                    let get_guest_url = "{% url 'api:api.ceremony-guest-detail' 0 %}".replace('0', guest_id);
                    $('#editGuestModal').modal();
                    $.ajax({
                        url: get_guest_url,
                        method: 'GET',
                        dataType: 'json'
                    }).done(function (data) {
                        $('#guestName').val(data.name);
                        $('#guestId').val(data.id);
                        let indisp = data.indispensability;
                        let grp = data.group;
                        $('#guestIndispensability option[value="indisp"]'.replace('indisp', indisp)).attr('selected', 'selected');
                        $('#guestGroup option[value="grp"]'.replace('grp', grp)).attr('selected', 'selected');
                    }).fail(function () {
                        console.log('deu ruim')
                    });
                });
            });
            $('#saveGuestChanges').click(function (e) {
                e.preventDefault();
                let guest_id = $('#guestId').val();
                let called_url = "{% url 'ceremony:ceremony-guest-update' 0 %}".replace('0', guest_id);
                $.ajax({
                    headers: {'X-CSRFToken': csrftoken},
                    url: called_url,
                    type: 'POST',
                    data: {
                        'name': $('#guestName').val(),
                        'group': $('#guestGroup').children("option:selected").val(),
                        'indispensability': $('#guestIndispensability').children("option:selected").val()
                    },
                    dataType: 'json'
                }).done(function (response) {
                    if (response.status === 'success') {
                        console.log('deu bom');
                        location.reload();
                    } else {
                        console.log(response['data']);
                    }
                }).fail(function (response) {
                    console.log('didnt work');
                    console.log(response);
                });
            });
        });

    </script>

{% endblock %}