{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <section class="section">
            <div class="container">
                <div class="card shadow mt-300">
                    <div class="px-4">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li style="color: white" {% if message.tags %}
                                        class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="text-center mt-5">
                            <h3>{% trans 'Our Groomsmen' %}</h3>
                        </div>
                        <div class="mt-5 py-5 border-top text-center">
                            <div class="row justify-content-center">
                                <div class="col-lg-9">
                                    <table id="myGroomsmen" class="dataTable table table-striped nowrap"
                                           style="width:100%">
                                        <thead>
                                        <tr class="text-center">
                                            <th>{% trans 'Name' %}</th>
                                            <th>{% trans 'Selector' %}</th>
                                            <th>{% trans 'Duo' %}</th>
                                            <th>{% trans 'Edit' %}</th>
                                            <th>{% trans 'Delete' %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for groomsman in groomsmen %}
                                            <tr class="text-center">
                                                <td>{{ groomsman.name }}</td>
                                                <td>{{ groomsman.get_selector_display }}</td>
                                                <td>
                                                    {% if groomsman.duo %}
                                                        {{ groomsman.duo }}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a class="btn btn-info bella-pink"
                                                       href="{% url 'ceremony:ceremony-groomsman-update' groomsman.id %}"><i
                                                            class="fa fa-pencil table-button"></i></a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-info bella-pink"
                                                       href="{% url 'ceremony:ceremony-groomsman-delete' groomsman.id %}"><i
                                                            class="fa fa-times table-button"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-xs-6 col-md-6">
                                    <strong>
                                        {% trans 'Current number of solo groomsmen: ' %}{{ solo_groomsmen_ammount }}</strong><br>
                                    <strong>
                                        {% trans 'Current number of duo groomsmen: ' %}{{ duo_groomsmen_ammount }}</strong>
                                    {% if consistency_errors %}
                                        <br>
                                        <strong style="color: red">{% trans 'There are inconsistencies on the couples. Please check the list.' %}</strong>
                                    {% endif %}
                                </div>
                                <div class="col-xs-6 col-md-6 justify-content-end">
                                    <a href="{% url 'ceremony:ceremony-groomsman-create' %}" class="btn btn-success"
                                       style="background-color: deeppink; border-color:hotpink"> {% trans 'Add Groomsman' %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myGroomsmen').DataTable({
                "order": [[2, 'desc']],
                paging: false,
                info: false,
                responsive: true,
                "scrollX": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json"
                },
            });
        });

    </script>

{% endblock %}